doctype html
html(ng-app='scoreboard')
	head
		title TRIVINATOR
		link(rel='stylesheet', type='text/css', href='/css/scoreboard.css')
		script(src='/socket.io/socket.io.js')
	body(ng-controller='ScoreboardController')
		.header.row
			span.text-center.columns.small-12 {{title}}
		.container
			.row.columns.small-12.text-left.roundquestion
				h3 Round {{ round.roundNum }} | Question 1 | {{round.points}}pts
			.row.columns.small-12.text-left.questiontext {{round.question}}
			.row.columns.small-12.text-center.currentbuzzer-container(ng-show='currentBuzzer')
					span.buzz-alert {{ currentBuzzer }} has buzzed in first!
		.footer
			.row
				.columns.small-12
					include teamBlockGrid
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js')
		script(src='/js/scoreboard.js')

