doctype html
html(ng-app='team')
	head
		title TRIVINATOR
		link(rel='stylesheet', type='text/css', href='/css/team.css')
		script(src='/socket.io/socket.io.js')
	body(ng-controller='TeamController')
		.header(ng-class='color' ng-hide='showLeaderboard')
			.row
				.columns.small-3.text-left.menu MENU
				.columns.small-6.text-center {{ name }}
				.columns.small-3.text-right(ng-click='showEdit = true', ng-hide='showEdit')  EDIT
		.container(ng-hide='showEdit || showLeaderboard')
			.waiting(ng-hide='round.points')
				.row.columns.small-12.text-center {{ round.question }}
				.row
					.teams.columns.small-12.text-center
						ul
							li TOP TEAMS
							li(ng-repeat='team in teams') {{ team.name }} - {{ team.score }}PTS
			.playing(ng-show='round.points')
				.row.columns.small-12.text-left.roundquestion
					h2 Round {{ round.roundNum }} | Question 1 | {{round.points}}pts
				.row.columns.small-12
					h3 {{ round.question }}
				.row.columns.small-12.buzzcontainer
					button(ng-click='buzz()', ng-class='color', ng-disabled='buzzDisabled', ng-hide="showAnswering") BUZZ IN
			.answering(ng-show='showAnswering') {{ currentBuzzer.name }} HAS BUZZED IN
		.edit(ng-show='showEdit')
			.top
				.row
					input(placeholder='EDIT TEAM NAME', ng-model='name')
				.row
					p EDIT TEAM COLOR
				.row
					ul.small-block-grid-6
						- var i = 1;
						while i <= 24
							li
								.box(class='color-' + i++, ng-click="color = 'color-" + i + "'", ng-class="{selected: color === 'color-" + i + "'}")
			.bottom
				.row
					.columns.small-12.text-center
						button(ng-click='save()') SAVE CHANGES
		.leaderboard(ng-show='showLeaderboard')
			.row.leaderboard-header.text-center
				h2 STANDINGS
			.row.team(ng-repeat='team in teams' ng-class='team.color')
				.text-center {{ team.name }} - {{team.score}}PTS
		.footer.small-12.columns(ng-class='color')
			.row
				.leaderboard-tab.columns.small-6.text-center(ng-click='showLeaderboard = !showLeaderboard', ng-class='{active: !showLeaderboard}')
					img(src='/images/trophy-dark.png')
					span STANDINGS
				.myteam-tab.columns.small-6.text-center(ng-click='showLeaderboard = false', ng-class='{active: showLeaderboard}')
					img(src='/images/group-dark.png')
					span MY TEAM
		//- script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js')
		script(src='/js/team.js')
